<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.huixingtao.mapper.NoticeMapper">
		<select id="get" parameterType="int" resultType="Notice">
			select * from notice where noticeNumber = #{noticeNumber}
		</select>

		<insert id="add" parameterType="Notice">
			insert into Notice values(#{noticeNumber},#{noticeTheme},#{noticeDetail},#{noticeDate})
		</insert>
		
		<select id="getList" resultType="Notice">
			select * from notice
		</select>
		
		<delete id="delete">
			delete from notice where noticeNumber = #{noticeNumber}
		</delete>
		
		<update id="modify" parameterType="Notice" >
			update notice set noticeTheme = #{noticeTheme} , noticeDetail = #{noticeDetail}, noticeDate = #{noticeDate} where noticeNumber = #{noticeNumber}
		</update>
	</mapper>